html{
    background-color: rgb(77, 68, 68);
    font: 1em sans-serif;
    color: white;
    h1{
        color:rgba(55, 222, 255, 0.945)
    }
    h2{
        color: white
    }
    h3{
        color:aqua
    }
    footer{
        color: rgb(203, 255, 61)
    }
    a{
        color:rgb(203, 255, 61)
    }
}